<h2>Student Registration</h2>
<form [formGroup]="studentInfoForm" (ngSubmit)="onSubmit()">
    <label>
        First Name
        <input type="text" formControlName="firstName">
    </label>
    <label>
        Last Name
        <input type="text" formControlName="lastName">
    </label>
    <label>
        Age
        <input type="text" formControlName="age">
    </label>
    <h3>Address</h3>
    <div formGroupName="address">
        <label>
            Street
            <input type="text" formControlName="street">
        </label>
        <label>
            City
            <input type="text" formControlName="city">
        </label>
        <label>
            State
            <input type="text" formControlName="state">
        </label>
        <label>
            Pin Code
            <input type="text" formControlName="pincode">
        </label>
    </div>
    <button type="submit">Submit</button>
</form>
<app-register-student-info-with-fb></app-register-student-info-with-fb>